@import "tailwindcss";

:root{
  background: #030328;
}

@theme {
 
  /* brand */
  --color-brand: #00d5ef;
  --color-brand-dark: #061225;

  /* Sidebar */
  --color-sidebar: #030a19;
  --color-sidebar-mid: #07142e;
  --color-sidebar-light: #101f4a;

  /* Text */
  --color-text-muted: #7283a1;

  /* Navigation */
  --color-nav-hover: #142a4e;
  --color-nav-active-start: #133053;
  --color-nav-active-end: #081d3a;
}